.timeline-line {
	background: #ffffff;
	width: 8px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 128px;
}

.timeline-line-mask {
	background: #000000;
	width: 8px;
	height: 180px;
	position: absolute;
	top: 0;
	left: 128px;
}

.cover-title {
	line-height: 1.0;
}

.cover-title .large-title {
	font-size: 150px;
	font-weight: 500;
}

.explore-btn {
	color: #FFFFFF;
	font-size: 24px;
	cursor: pointer;
}

.explore-btn:focus {
	border: none;
}

.event {
	position: relative;
}

.event .event-bullet {
	width: 32px;
	height: 32px;
	background: #ffffff;
	position: absolute;
	top: 64px;
	left: -64px;
}

.time {
	color: #f5f5f5;
}

.intro {
	width: 40%;
  color: #7F7F7F;
  font-weight: 400;
}

.keypoint {
	margin: 40px 0 0 0;
	list-style: none;
}

.keypoint li{
	float: left;
	padding-right: 40px;
}

.keypoint-content {
	font-size: 48px;
	color: #FFFFFF;
	margin: 0;
}

.keypoint-title {
  color: #7F7F7F;
  font-weight: 400;
}
