.container {
  padding: 180px;
  display: flex;
  min-height: 100vh;
}

.wrap {
  padding: 180px;
  min-height: 100vh;
}

.slide {
  width: 50%;
}

.timeline {
  background: #ffffff;
  width: 8px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 128px;
}

.timeline-mask {
  background: #000000;
  width: 8px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 128px;
}

.cover-title {
  line-height: 1.0;
}

.cover-title .large-title {
  font-size: 150px;
  font-weight: 500;
}

.explore-button {
  color: #FFFFFF;
  font-size: 24px;
  cursor: pointer;
}

.explore-button:focus {
  border: none;
}

.title {
  position: relative;
  line-height: 1;
  margin-bottom: 40px;
  white-space: pre-wrap;
}

.title .title-bullet {
  width: 32px;
  height: 32px;
  background: #ffffff;
  position: absolute;
  top: 24px;
  left: -64px;
}

.subtitle {
  color: #f5f5f5;
}

.desc {
  width: 80%;
  font-weight: 400;
}

.keypoint {
  margin: 40px 0 0 0;
  list-style: none;
  display: flex;
}

.keypoint li {
  padding-right: 40px;
}

.keypoint-content {
  font-size: 48px;
  color: #FFFFFF;
  margin: 0;
}

.keypoint-title {
  font-weight: 400;
}

.nameInput {
  width: 400px;
  font-size: 2em;
  font-weight: 200;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 8px 0;
  margin-top: 40px;
}
